@model PruebaEF6.Models.Team
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("CreateTeam", "Team", FormMethod.Post))
{
    <div>
        <div class="mb-3">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(expression: model => model.League.Country_Id, htmlAttributes: new { @class = "form-label" }, labelText: "Country")
            @Html.DropDownListFor(model => model.League.Country_Id, (IEnumerable<SelectListItem>)ViewBag.Countries, new { @class = "form-select", id = "selectCountry" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(expression: model => model.League_Id, htmlAttributes: new { @class = "form-label" }, labelText: "League")
            @Html.DropDownListFor(model => model.League_Id, Enumerable.Empty<SelectListItem>(), new { @class = "form-select", id = "selectLeague" })
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}

@section Scripts{
    <script src="~/Utils/updateLeagues.js"></script>

    <script>
        const urlGetLeagues = "@Url.Action("GetLeaguesByCountry")";
        $(async function () {

            updateLeagues();

            $("#selectCountry").change(async function () {
                await updateLeagues();
            });


        })
    </script>
}