@model IEnumerable<PruebaEF6.Models.Player>
@{
    ViewBag.Title = "Index";
}

<h1>Players</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Country
            </th>
            <th>
                Name
            </th>
            <th>
                Team
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>@player.Country.Code</td>
                <td>@player.FirstName @player.LastName</td>
                <td class="d-flex justify-content-end gap-1 me-1">
                    @Html.ActionLink("Edit", "Edit", new { id = player.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = player.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Create","Create","Player",null,new {@class="btn btn-primary"})