@{
    ViewBag.Title = "Index";
}

<h2>Countries</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <td>@country.Id</td>
                <td>@country.Code</td>
                <td>@country.Name</td>
                <td class="d-flex justify-content-end gap-1 me-1">
                    @Html.ActionLink("Edit", "Edit", new { id = country.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = country.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Create", "Create", "Country", null, new { @class = "btn btn-primary" })